In [2]:
print("wel come to dkte minor m2 batch ") # first python program

wel come to dkte minor m2 batch

In [3]:
a= input("enter value for a")

enter value for a22

In [ ]:
print('Enter your name:')
x = input()

In [4]:
print('Hello, ' + x)

Hello, sdr

Assigning Values to Variables

In [ ]:
counter = 100          # An integer assignment
miles   = 1000.0       # A floating point
name    = "John"       # A string

In [6]:
print (counter)
print (miles)
print (name)

100
1000.0
John

Multiple Assignment

In [7]:
a = b = c = 1

In [8]:
a

1

In [9]:
a, b, c = 1, 2, "john"

In [10]:
c

'john'

# Python has five standard data types −

Numbers,
String,
List,
Tuple,
Dictionary

In [11]:
var1 = 1
var2 = 10

In [12]:
var1

1

In [13]:
type(var1)

int

Python supports three different numerical types −

int (signed integers), 
float (floating point real values), 
complex (complex numbers)

# Python Strings:-
Strings in Python are identified as a contiguous set of characters represented in the quotation marks

In [15]:
str = 'Hello World!'

print (str)          # Prints complete string
print (str[0])       # Prints first character of the string
print (str[2:5])     # Prints characters starting from 3rd to 5th
print (str[2:])      # Prints string starting from 3rd character
print (str * 2)      # Prints string two times
print (str + "TEST") # Prints concatenated string

Hello World!
H
llo
llo World!
Hello World!Hello World!
Hello World!TEST

# Python Lists:-
Lists are the most versatile of Python's compound data types.
A list contains items separated by commas and enclosed within square brackets ([]).
items belonging to a list can be of different data type.

In [17]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']

print (list)          # Prints complete list
print (list[0])       # Prints first element of the list
print (list[1:3])     # Prints elements starting from 2nd till 3rd 
print (list[2:])      # Prints elements starting from 3rd element
print (tinylist * 2)  # Prints list two times
print (list + tinylist) # Prints concatenated lists

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

# Python Tuples
A tuple is another sequence data type that is similar to the list. A tuple consists of a number of values separated by commas. Unlike lists, however, tuples are enclosed within parenthesis.

In [18]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
tinytuple = (123, 'john')

print (tuple)           # Prints complete tuple
print (tuple[0])        # Prints first element of the tuple
print (tuple[1:3])      # Prints elements starting from 2nd till 3rd 
print (tuple[2:])       # Prints elements starting from 3rd element
print (tinytuple * 2)   # Prints tuple two times
print (tuple + tinytuple) # Prints concatenated tuple

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

## Python Dictionary
 A dictionary key can be almost any Python type, but are usually numbers or strings.Dictionaries are enclosed by curly braces ({ }) and values can be assigned and accessed using square braces ([])

In [19]:
dict = {}
dict['one'] = "This is one"
dict[2]     = "This is two"

tinydict = {'name': 'john','code':6734, 'dept': 'sales'}

print (dict['one'])       # Prints value for 'one' key
print (dict[2])           # Prints value for 2 key
print (tinydict)          # Prints complete dictionary
print (tinydict.keys())   # Prints all the keys
print (tinydict.values()) # Prints all the values

This is one
This is two
{'name': 'john', 'code': 6734, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['john', 6734, 'sales'])