## Python Pandas 
*  Pandas is an open-source Python Library providing high-performance data manipulation and analysis tool using its powerful data structures
*  Pandas deals with the following three data structures −

         Series
         DataFrame
         Panel

In [2]:
# Create an Empty Series
import pandas as pd
s = pd.Series()
print(s)

Series([], dtype: float64)

<ipython-input-2-e48b5720f73b>:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s = pd.Series()

In [3]:
#Create a Series from ndarray
import numpy as np

data = np.array(['a','b','c','d','e'])
s = pd.Series(data)
print (s)

0    a
1    b
2    c
3    d
4    e
dtype: object

In [6]:
data = np.array(['a','b','c','d'])
s = pd.Series(data,index=[100,101,103,104])
print (s)

100    a
101    b
103    c
104    d
dtype: object

In [4]:
# Create a Series from dict
data = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data)
print (s)

a    0.0
b    1.0
c    2.0
dtype: float64

In [9]:
# Accessing Data from Series with Position
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])

#retrieve the first element
print (s['a'])

1

In [11]:
#retrieve the first three element
print (s[:2])

a    1
b    2
dtype: int64

In [12]:
#retrieve the last three element
print(s[-3:])

c    3
d    4
e    5
dtype: int64

In [13]:
#retrieve a single element
print(s[3])

4

### DataFrame
* A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns.
* Create DataFrame
         A pandas DataFrame can be created using various inputs like −

          Lists
          dict
          Series
          Numpy ndarrays
          Another DataFrame

In [10]:
# Create an Empty DataFrame

df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [14]:
#Create a DataFrame from Lists
data = [1,2,3,4,5,12,23,33,45,67,78,9,22,37]
df = pd.DataFrame(data)
print(df)

     0
0    1
1    2
2    3
3    4
4    5
5   12
6   23
7   33
8   45
9   67
10  78
11   9
12  22
13  37

In [17]:
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print(df)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [18]:
# Create a DataFrame from Dict of ndarrays / Lists
data = {'Name':['Ram', 'Jack', 'Steve', 'Ricky','sham','sachin'],'Age':[21,4,29,42,26,48]}
df = pd.DataFrame(data)
print(df)

     Name  Age
0     Ram   21
1    Jack    4
2   Steve   29
3   Ricky   42
4    sham   26
5  sachin   48

In [19]:
# create an indexed DataFrame using arrays
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['r1','r2','r3','r4'])
print(df)

     Name  Age
r1    Tom   28
r2   Jack   34
r3  Steve   29
r4  Ricky   42

In [23]:
# Create a DataFrame from List of Dicts
data = [{'a': 1, 'b': 2,'c': 3},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
print(df)

   a   b   c
0  1   2   3
1  5  10  20

In [25]:
#With two column indices, values same as dictionary keys
df1 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b'])

#With two column indices with one index with other name
df2 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'e'])
print(df1)
print (df2)

        a   b
first   1   2
second  5  10
        a   e
first   1 NaN
second  5 NaN

In [27]:
# Create a DataFrame from Dict of Series

import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4,5], index=['a', 'b', 'c', 'd','e'])}

df = pd.DataFrame(d)
print( df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
e  NaN    5

In [29]:
# Column Selection
df = pd.DataFrame(d)
print (df['one'])

a    1.0
b    2.0
c    3.0
d    NaN
e    NaN
Name: one, dtype: float64

In [30]:
# Column Deletion

import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']), 
   'three' : pd.Series([10,20,30], index=['a','b','c'])}

df = pd.DataFrame(d)
print ("Our dataframe is:")
print (df)

# using del function
print ("Deleting the first column using DEL function:")
del (df['one'])
print (df)

# using pop function
print ("Deleting another column using POP function:")
df.pop('two')
print( df)

Our dataframe is:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Deleting the first column using DEL function:
   two  three
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN
Deleting another column using POP function:
   three
a   10.0
b   20.0
c   30.0
d    NaN

In [20]:
# Rows can be selected by passing row label to a loc function.
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df.loc['d'])

one    NaN
two    4.0
Name: d, dtype: float64